.app-container {
    background-color: rgb(6, 1, 34);
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-container {
    /* background-color: rgb(23, 53, 103); */
    height: 15%;
    width: 95%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mytitle {
    background-color: black;
    height: 75%;
    width: 50%;

    border-radius: 1rem;
    border-style: solid;
    border-width: thin;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-container {
    /* background-color: rgb(12, 48, 48); */
    color: lightblue;
    height: 85%;
    width: 95%;

    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(auto-fill, 50%);

    overflow-y: scroll;
    overflow-x: hidden;
}
